<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ic.mss.model.dao.mapper.AlarmMapper">
 

    <resultMap id="alarmMap"  type="ic.mss.model.vo.AlarmVO">
       <result property="userId" column="user_id"/>
   	  	
   	  	<result property="checkserver" column="checkserver"/>
    	<result property="dlpsvr" column="DLPsvr"/>
     	<result property="drmsvr" column="drmsvr"/>
     	
     	
     	<result property="efilcare01" column="efilcare01"/>
     	<result property="efilcare02" column="efilcare02"/>

     	<result property="lifeRecordDatabase01" column="LifeRecordDatabase01"/>
     	<result property="lifeRecordDatabase02" column="LifeRecordDatabase02"/>
     	<result property="lifeRecordDatabase03" column="LifeRecordDatabase03"/>

     	<result property="lifeRecordServer01" column="LifeRecordServer01"/>
     	<result property="lifeRecordServer02" column="LifeRecordServer02"/>
     	
     	<result property="lifeSemanticsService01" column="LifeSemanticsService01"/>
     	<result property="lifeSemnaticsService02" column="LifeSemnaticsService02"/>
     	
     	<result property="postman" column="postman"/>

    </resultMap>


	<select id="getIdData" resultMap="alarmMap">
	  	select * from alarm where user_id=#{userId}
	</select>


	<insert id="insertAlarm">
			insert into alarm  (
			   user_id			
			) VALUES (
				#{userId}
			)
	</insert>


 	<update id="updateAlarm">						
		update alarm   SET 

		<if test=" column == 'checkserver'.toString() " >		
			checkserver = #{checkValue}    
		</if>
	
		<if test=" column == 'crash'.toString() " >		
			crash = #{checkValue}
		</if>	  		

		<if test=" column == 'dlpsvr'.toString() " >		
			DLPsvr = #{checkValue}
		</if>
		
		<if test=" column == 'drmsvr'.toString() " >		
			drmsvr = #{checkValue}
		</if>
		
		<if test=" column == 'efilcare01'.toString() " >		
			efilcare01 = #{checkValue}
		</if>						  		
		  		
		<if test=" column == 'efilcare02'.toString() " >		
			efilcare02 = #{checkValue}
		</if>
		
		<if test=" column == 'lifeRecordDatabase01'.toString() " >		
			LifeRecordDatabase01 = #{checkValue}
		</if>
		
		<if test=" column == 'lifeRecordDatabase02'.toString() " >		
			LifeRecordDatabase02 = #{checkValue}
		</if>
		
		<if test=" column == 'lifeRecordDatabase03'.toString() " >		
			LifeRecordDatabase03 = #{checkValue}
		</if>								  		
		  		
		<if test=" column == 'lifeRecordServer01'.toString() " >		
			LifeRecordServer01 = #{checkValue}
		</if>								  		
	
	
		<if test=" column == 'lifeRecordServer02'.toString() " >		
			LifeRecordServer02 = #{checkValue}
		</if>								  		
		
	
		<if test=" column == 'lifeSemanticsService01'.toString() " >		
			LifeSemanticsService01 = #{checkValue}
		</if>								  		
			
		<if test=" column == 'lifeSemnaticsService02'.toString() " >		
			LifeSemnaticsService02 = #{checkValue}
		</if>								  		
					
		<if test=" column == 'postman'.toString() " >		
			postman = #{checkValue}
		</if>				  		
		  		
		  		
		WHERE user_id = #{userId} 	
 	</update>
 
 

</mapper>


